<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<!--List of Menus-->
<p th:unless="${menus} and ${menus.size()}">no menus :(</p>

<table class="table">

    <tr th:each="menu : ${menus}">
        <td th:text="${menu.name}"></td>
        <a th:href="@{/menu/view/(column=${menu.id})}" th:text="${menu.name}"></a>
    </tr>
</table>

<a th:href="@{/menu/add}">Please add a Menu</a>


<!--Link to Add Menu-->


</body>
</html>